.container {
  display: flex;
}

.dashboard {
  position: relative;
  width: 100%;
  z-index: 0;
}
.topBaseGradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 20rem;
  overflow: hidden;
  z-index: -1;
}

.topBaseGradient > :nth-child(2) {
  left: 40%;
}

.topBaseGradient > :nth-child(3) {
    right: 0;
  }