.calender-container {
  margin: auto;
  width: 90%;
  padding: 0 5rem;
  max-width: 1100px;
  height: 100vh;
}
.fc-event {
  background: var(--orange-gradient) !important;
}
.fc .fc-timegrid-slot {
  height: 2rem !important;
}

td {
  border: 1px solid var(--grey) !important;
}
